<?xml version='1.0' encoding='utf-8'?>
<robot name="xhand_right">
  <link name="right_hand_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_link.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <link name="right_hand_ee_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ee_link.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ee_joint" type="fixed">
    <origin xyz="0 0 0.065" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_ee_link" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_back_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_back_link.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_back_joint" type="fixed">
    <origin xyz="0 0 0.065" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_back_link" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_bend_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_bend_link.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_bend_joint" type="revolute">
    <origin xyz="0.0095 0.0228 0.0305" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_thumb_bend_link" />
    <axis xyz="0 0 -1" />
    <limit lower="0" upper="1.832" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_rota_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_rota_link1.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_rota_joint1" type="revolute">
    <origin xyz="0.0083177 0.028599 -0.00178" rpy="0 0.2618 -0.0407" />
    <parent link="right_hand_thumb_bend_link" />
    <child link="right_hand_thumb_rota_link1" />
    <axis xyz="1 0 0" />
    <limit lower="-0.698" upper="1.57" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_rotaback_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_rotaback_link1.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_rotaback_joint1" type="fixed">
    <origin xyz="0 0.0553000000000007 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link1" />
    <child link="right_hand_thumb_rotaback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_rota_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_rota_link2.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_rota_joint2" type="revolute">
    <origin xyz="0 0.0553 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link1" />
    <child link="right_hand_thumb_rota_link2" />
    <axis xyz="1 0 0" />
    <limit lower="0" upper="1.57" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_rotaback_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_rotaback_link2.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_rotaback_joint2" type="fixed">
    <origin xyz="0 0.0502276499414863 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link2" />
    <child link="right_hand_thumb_rotaback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_thumb_rota_tip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_thumb_rota_tip.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_thumb_rota_joint3" type="fixed">
    <origin xyz="0 0.0502276499414863 0" rpy="0 0 0" />
    <parent link="right_hand_thumb_rota_link2" />
    <child link="right_hand_thumb_rota_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_bend_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_bend_link.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1.0" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_bend_joint" type="revolute">
    <origin xyz="0.0065 0.0265 0.0899" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_index_bend_link" />
    <axis xyz="-1 0 0" />
    <limit lower="-0.174" upper="0.174" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_rota_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_rota_link1.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_joint1" type="revolute">
    <origin xyz="0 0 0.0178" rpy="0 0 0" />
    <parent link="right_hand_index_bend_link" />
    <child link="right_hand_index_rota_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_rotaback_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_rotaback_link1.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_rotaback_joint1" type="fixed">
    <origin xyz="0 0 0.0557999999999955" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link1" />
    <child link="right_hand_index_rotaback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_rota_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_rota_link2.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link1" />
    <child link="right_hand_index_rota_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_rotaback_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_rotaback_link2.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_rotaback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089424" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link2" />
    <child link="right_hand_index_rotaback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_index_rota_tip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_index_rota_tip.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_index_rota_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089424" rpy="0 0 0" />
    <parent link="right_hand_index_rota_link2" />
    <child link="right_hand_index_rota_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_mid_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_mid_link1.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_mid_joint1" type="revolute">
    <origin xyz="0.0065 0.004 0.1082" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_mid_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_midback_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_midback_link1.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_midback_joint1" type="fixed">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_mid_link1" />
    <child link="right_hand_midback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_mid_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_mid_link2.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_mid_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_mid_link1" />
    <child link="right_hand_mid_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_midback_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_midback_link2.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_midback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089416" rpy="0 0 0" />
    <parent link="right_hand_mid_link2" />
    <child link="right_hand_midback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_mid_tip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_mid_tip.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_mid_joint3" type="fixed">
    <origin xyz="0 0 0.042248" rpy="0 0 0" />
    <parent link="right_hand_mid_link2" />
    <child link="right_hand_mid_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_ring_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ring_link1.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ring_joint1" type="revolute">
    <origin xyz="0.0065 -0.016 0.1052" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_ring_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_ringback_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ringback_link1.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ringback_joint1" type="fixed">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_ring_link1" />
    <child link="right_hand_ringback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_ring_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ring_link2.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ring_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_ring_link1" />
    <child link="right_hand_ring_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_ringback_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ringback_link2.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ringback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089404" rpy="0 0 0" />
    <parent link="right_hand_ring_link2" />
    <child link="right_hand_ringback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_ring_tip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_ring_tip.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_ring_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089404" rpy="0 0 0" />
    <parent link="right_hand_ring_link2" />
    <child link="right_hand_ring_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_pinky_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_pinky_link1.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_pinky_joint1" type="revolute">
    <origin xyz="0.0065 -0.036 0.1022" rpy="0 0 0" />
    <parent link="right_hand_link" />
    <child link="right_hand_pinky_link1" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="1.1" velocity="8.63" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_pinkyback_link1">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_pinkyback_link1.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_pinkyback_joint1" type="fixed">
    <origin xyz="0 0 0.0558000000000001" rpy="0 0 0" />
    <parent link="right_hand_pinky_link1" />
    <child link="right_hand_pinkyback_link1" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_pinky_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_pinky_link2.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_pinky_joint2" type="revolute">
    <origin xyz="0 0 0.0558" rpy="0 0 0" />
    <parent link="right_hand_pinky_link1" />
    <child link="right_hand_pinky_link2" />
    <axis xyz="0 1 0" />
    <limit lower="0" upper="1.919" effort="0.4" velocity="14.38" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_pinkyback_link2">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_pinkyback_link2.glb" />
      </geometry>
      <material name="RAL_9003_Signal_White">
        <color rgba="0.941 0.941 0.941 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_pinkyback_joint2" type="fixed">
    <origin xyz="0 0 0.0422482924089405" rpy="0 0 0" />
    <parent link="right_hand_pinky_link2" />
    <child link="right_hand_pinkyback_link2" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="right_hand_pinky_tip">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/meshes__right_hand_pinky_tip.glb" />
      </geometry>
      <material name="RAL_9005_Jet_Black">
        <color rgba="0.055 0.055 0.063 1" />
      </material>
    </visual>
    </link>
  <joint name="right_hand_pinky_joint3" type="fixed">
    <origin xyz="0 0 0.0422482924089405" rpy="0 0 0" />
    <parent link="right_hand_pinky_link2" />
    <child link="right_hand_pinky_tip" />
    <axis xyz="0 0 0" />
    <dynamics damping="0" friction="0" />
  </joint>
</robot>